@charset "utf-8";

.noodle-top-img {
  height: 248px;
}

/* ----- はしやすめ ----- */
.noodle-kind {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
  background-color: var(--main-color);
}

.noodle-kind .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}

.noodle-kind .faceicon img {
  width: 100%;
  height: auto;
  border: solid 3px var(--white-color);
  border-radius: 50%;
}

.noodle-kind .chatting {
  width: 100%;
}

.says {
  display: inline-block;
  position: relative;
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: var(--white-color);
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 17px;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid var(--white-color);
}

.says p {
  margin: 0;
  padding: 0;
}
