@charset "utf-8";
/*-------------
タイトル画像
--------------*/
.course-top-img {
  width: 100%;
  position: relative;
}

.course-top-img-img {
  height: 113px;
  filter: brightness(50%);
}

.course-top-img-txt-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.top-img-title {
  color: white;
  padding-bottom: 10px;
}

.tag-wrap {
  display: flex;
}

.tag {
  font-size: 10px;
  text-align: center;
  border: 1px solid;
  padding: 3px 10px;
  border-radius: 25px;
  background-color: white;
  margin-right: 5px;
}

/*---------------
コースの概要
--------------*/
.course-routr {
  text-align: center;
  padding-top: 77px;
}
.course-subtitle {
  display: inline-block;
  background: linear-gradient(transparent 70%, var(--title-color) 10%);
}

/*--------- 徳島のマップ ----------*/
.tokushima-map-wrap {
  position: relative;
  height: 300px;
  display: block;
  background-image: url(../img/logo/map-tokushima.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}

.tokushima-map-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.514);
  z-index: 1;
}

.tokushima-map-ul-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* padding-left: 20px; */
}

.tokushima-map-ul {
  min-width: 300px;
  line-height: 3;
  font-size: 12px;
  text-align: left;
  margin: 0 auto;
  font-weight: normal;
}

@media screen and (min-width: 1025px) {
  .tokushima-map {
    width: 40%;
  }

  .tokushima-map-ul {
    min-width: 300px;
    line-height: 3;
    font-size: 20px;
    text-align: left;
    margin: 0 auto;
  }
}

/*---------------------
 モデルコースコンテンツ
 -------------------------*/

.course-cont-wrap {
  text-align: center;
  padding: 43px 0 75px;
}

.course-number-sp {
  width: 30px;
  height: 30px;
  padding: 5px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--title-color);
  color: white;
  margin: 0 auto 21px;
}

.course-img {
  margin-top: 13px;
}

.course-txt-wrap {
  padding: 35px 45px 10px;
  text-align: justify;
  text-justify: inter-ideograph;
}

/* .course-txt-wrap-1{
  padding-bottom: 0;
} */

.course-spot-name {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.course-txt-group{
  padding-bottom: 20px;
}

.btn-orange {
  font-size: 14px;
  width: 100%;
  height: 25px;
  /* margin-bottom: 40px; */
}

.move-icon-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(5%,0);
  width: 95%;
  padding-bottom: 45px;
}

/* .move-icon{
  width: 30%;
} */


.move-icon-arrow {
  width: 20%;
  height:20%;
  /* width: 50px;
  height:100px; */
  object-fit:contain;
}

.course-1,
.course-2,
.course-3 {
  padding-top: 28px;
}

.course-2 {
  background-color: var(--sub-color);
}

.course-3 {
  margin-bottom: 100px;
}
.goal {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 20%;
}


@media screen and (max-width: 1024px) {
  .course-number-pc {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .course-cont-wrap {
    padding: 0 20%;
    text-align: left;
  }
  .course-img {
    width: 70%;
  }



  .course-title-wrap {
    display: none;
  }
  .course-txt-wrap {
    position: absolute;
    top: 20%;
    right: 0;
    width: 60%;
    padding: 0 80px 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.404);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.081);
  }

  .course-spot-name{
    text-align: center;
    font-size: 25px;
  }

  .course-number-pc {
    font-size: 30px;
    text-align: center;
    transform: translate(0, -50%);
  }

  .course-txt-group{
    transform: translate(0, -5%);
    padding-bottom: 0;
  }

  .move-icon {
  width: 35%;
  margin: 200px auto;
}

  .course-1,
  .course-2,
  .course-3 {
    position: relative;
    margin-bottom: 80px;
  }

  .course-2 {
    background-color: transparent;
    text-align: right;
  }
}
