@charset "utf-8";

/* -------------------------------------
-----------------共通------------------
--------------------------------------- */
. {
  color: var(--txt-color);
}
/*css関数を使用した色定義方法*/
/* font-weightはboldかかっているので
regularになっているものはnormalをつける */
.wrapper {
  padding: 0 45px;
}
.space20 {
  margin-top: 20px;
}
section {
  margin-top: 30px;
}
.index-mark1::before {
  content: "";
  background-color: var(--title-color);
  margin-right: 2px;
  width: 8px;
  height: 1rem;
  display: inline-block;
}

.index-mark2::before {
  content: "";
  background-color: var(--title-color);
  margin-right: 4px;
  width: 4px;
  height: 1rem;
  display: inline-block;
}
/* -------------------------------------
------店名詳細記事ヘッダー？----------
--------------------------------------- */
.single-shop-top {
  width: 100%;
  color: var(--sub-color);
  background-image: url(./img/kevin-doran-gqCoeionhto-unsplash.jpg);
  background-size: cover;
}

/* -----single-shop-pkz パンくずリスト---- */
.single-shop-pkz {
  background-color: black;
  height: 33px;
  font-size: 12px;
}
.pkz-ul {
  height: 100%;
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.pkz-ul li {
  height: 1rem;
  padding-left: 2px;
}
.pkz-ul li + li:before {
  content: "";
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  color: darkgray;
  margin-right: 4px;
  width: 10px;
  height: 10px;
  display: inline-block;
}

/* ---single-shop-hero ヒーローイメージ--- */
.single-shop-hero {
  height: 115px;
  position: relative;
}
.shop-hero-wrap {
  /* top: 50%;
  left: 0;
  transform: translate(0, -50%);
  position: absolute;
  z-index: 1;
  padding: 0 50px; */
  padding-top: 31px;
}
.shop-hero-title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}
.shop-hero-ul {
  display: flex;
}
.shop-hero-ul li {
  background-color: white;
  color: var(--txt-color);
  border: 1px solid var(--txt-color);
  font-size: 10px;
  vertical-align: middle;
  text-align: center;
  border-radius: 30px;
  padding: 2px 11px 0;
}
.shop-hero-ul li + li {
  margin-left: 5px;
}

/* -------------------------------------
-----店名、キャッチコピー、紹介文-------
--------------------------------------- */
.shop-detail-name {
  font-size: 24px;
  line-height: 1.625;
  font-weight: bold;
}
.shop-detail-catchcopy {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.66;
}
/* -------店舗画像------- */
.shop-detall-ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.shop-detall-ul li {
  width: calc((100% / 4) - 3px);
  height: 70px;
  margin-top: 3px;
}
.shop-detall-ul li img {
  height: 100%;
}
.shop-detall-ul li:first-of-type {
  width: 100%;
  height: 205.8px;
}
/* -------詳細説明------- */
.shop-detall-txt {
  font-weight: normal;
}

/* -------------------------------------
-----店の特徴メーター領域-----------
--------------------------------------- */
.shop-meter-img {
  height: 123.05px;
}
.shop-meter img {
  height: 100%;
}

/* -------------------------------------
-----基本情報、地図--------
--------------------------------------- */

/* ------基本情報-------- */
.shop-basic-table {
  border-collapse: collapse;
  width: 100%;
}
.shop-basic-table tr {
  font-size: 12px;
  height: 31px;
}
.shop-basic-table th {
  background-color: var(--sub-color);
  width: 83px;
  padding-left: 11px;
  vertical-align: middle;
  border: 1px solid var(--main-color);
  border-style: solid none;
}
.shop-basic-table td {
  width: calc(100% - 83px);
  padding-left: 11px;
  vertical-align: middle;
  border: 1px solid var(--main-color);
  border-style: solid none;
}

/* ---------地図----------- */
.shop-map {
  width: 100%;
  height: 200px;
  position: relative;
}
.shop-map iframe {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* -------------------------------------
-----#食べレポInstagram埋め込み領域------
--------------------------------------- */
.shop-report h2 {
  margin-bottom: 8px;
}
.shop-report-Instagram {
  width: 100%;
  height: 397px;
  margin-left: auto;
  margin-right: auto;
}
.shop-report-Instagram img {
  width: 100%;
  height: 100%;
}
/* -------------------------------------
-----一覧に戻る------------
--------------------------------------- */
.shop-link-btn {
  text-align: center;
}
.archive-back-btn {
  width: 177px;
  height: 49px;
  border-radius: 5px;
}
.archive-back-btn h2 {
  font-size: 12px;
}

/* -------------------------------------
-----いいねボタン、SNSリンクアイコン----
--------------------------------------- */
.sns-link-btn {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
.sns-link-btn li {
  width: 30px;
  height: 31px;
}
.sns-link-btn li:first-of-type {
  width: 107px;
}
.shop-good button {
  width: 100%;
  height: 100%;
  font-size: 12px;
  border: 1px solid rgb(32, 32, 32);
  border-radius: 5px;
  color: gray;
  text-align: center;
}

/* -------------------------------------
-----おすすめ店舗----
--------------------------------------- */
.single-shop-recom {
  margin-top: 59px;
}
.shop-recom-h3 {
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
}
.recom-ul {
  margin-top: 20px;
}
.recom-ul li {
  height: 230px;
}
.recom-ul li img {
  height: 181px;
}
/* サムネイル */
.recom-img {
  position: relative;
}
.recom-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 86px;
  height: 36px;
  color: var(--white-color);
  text-align: center;
  padding-top: 10px;
}
.honkaku {
  background-color: var(--honkaku-color);
}
.naru {
  background-color: var(--naru-color);
}
.recom-good {
  width: 45px;
  height: 39.32px;
}
.recom-good img {
  object-fit: contain;
}
